/*MENU*/

.menu {
  margin: 30px 20px 120px 20px;
  background: #fff;
  border-radius: 10px;
  padding: 15px 40px;
}
.menu-opcoes {
  position: absolute;
  top: 45px;
  right: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-family: "Sarabun", sans-serif;
  font-size: 1rem; /*16*/
}
.curriculo {
  border: 1px solid #e03c3c;
  padding: 1px 8px;
  border-radius: 30px;
}
.menu-opcoes a {
  color: #161616;
  margin-bottom: 5px;
}
.menu-opcoes a:hover {
  color: #e03c3c;
}
.logo {
  display: flex;
  gap: 800px;
}
